/*! 
-------------------------------------------------------------------------------------
Font By. Sukhumvit 
CDN By.Wansawang Kanchanakaree
--------------------------------------------------------------------------------------

*/

@font-face {
	font-family: 'Sukhumvit';
	/*src: url('fonts/sukhumvit-set/SukhumvitSet-Bold.ttf');
  src: url('fonts/sukhumvit-set/SukhumvitSet-Light.ttf');*/
  src: url('../fonts/sukhumvit-set/SukhumvitSet-Medium.ttf') format('truetype');
  /*src: url('fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf');
  src: url('fonts/sukhumvit-set/SukhumvitSet-Text.ttf');
  src: url('fonts/sukhumvit-set/SukhumvitSet-Thin.ttf');*/
}
